## ECGR 4105 - Homework 4, Problem # 2

## Problem # 2

Problem # 1 uses "Housing" dataset to build a SVR Regression Model that predictshousing price based on the following input variables:

Area, Bedrooms, Bathrooms, Stories, Mainroad, Guestroom, Basement, Hotwater-Heating, Air-Conditioning, Parking, & Prefarea.

The regression model for SVR will be plotted  and the results will be compared against the Linear Regression performed earlier. The PCA feature extraction will be used for training. N number of independent trainings (N = 1, .... , K) will be performed. The optimum number of K, principal components that achieve the highest classification accuracy will be identified.

Next, different kernel tricks will be explored to capture Non-Linearities within the data. The results will be plotted and the accuracies for different kernels will be compared.

In [224]:
# Importing all the necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [225]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split, KFold, cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns

# Importing necessary Libraries for Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB
from sklearn import datasets
from sklearn.metrics import precision_recall_curve

from sklearn.svm import SVR

In [226]:
# Importing Data File (D3.csv) as df (DataFrame)
df = pd.read_csv("Housing.csv")
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [227]:
Vars = ["mainroad", "guestroom", "basement", "hotwaterheating", "airconditioning", "prefarea"]

In [228]:
# In order to fit the "YES" and "NO" data for the Regression line, the data is being changed to a Numerical Values
def Binary_Map(x):
    return x.map({"yes" : 1, "no" : 0})

In [229]:
df[Vars] = df[Vars].apply(Binary_Map)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [230]:
X = df.values[:,1:12]
Y = df.values[:,0]

In [231]:
# MinMax and Standard Scaling as part of Data Preprocessing
Min_Max_Scaling = MinMaxScaler()
X = Min_Max_Scaling.fit_transform(X)
Y = Min_Max_Scaling.fit_transform(Y.reshape(len(Y),1))

Standard_Scaling = StandardScaler()
X = Standard_Scaling.fit_transform(X)
Y = Standard_Scaling.fit_transform(Y.reshape(len(Y),1))

In [232]:
# Importing Necessary Library for PCA Feature Extraction
from sklearn.decomposition import PCA

In [233]:
pca = PCA()
principalComponents = pca.fit_transform(X)

In [234]:
# Splitting the data into the Training and Testing Sets (80% for Training and 20% for Testing)
random = np.random.seed(0)
X_train, X_test, Y_train, Y_test = train_test_split(principalComponents, Y, train_size = 0.8, test_size = 0.2, random_state = random)

In [235]:
# Importing Necessary Library for SVR() and mean_squared_error
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [236]:
import warnings
warnings.filterwarnings('ignore')

In [251]:
# SVC Regression
Model = SVR()
Model.fit(X_train, Y_train)
Y_Pred = Model.predict(X_test)
    
Error = mean_squared_error(Y_test, Y_Pred)
print("Mean Squared Error = ", Error)

Mean Squared Error =  0.34800643643616763

In [266]:
# SVC Regression with "linear" Kernel
Model_Lin = SVR(kernel = "linear", C =1e2)
Model_Lin.fit(X_train, Y_train)
Y_Pred_Lin = Model_Lin.predict(X_test)
    
Error_Lin = mean_squared_error(Y_test, Y_Pred_Lin)
print("Mean Squared Error (Linear) = ", Error_Lin)

Mean Squared Error (Linear) =  0.27125614105684565

In [265]:
# SVC Regression with "poly" Kernel
Model_Polynomial = SVR(kernel = "poly", C =1, degree = 2)
Model_Polynomial.fit(X_train, Y_train)
Y_Pred_Polynomial = Model_Polynomial.predict(X_test)
    
Error_Polynomial = mean_squared_error(Y_test, Y_Pred_Polynomial)
print("Mean Squared Error (Polynomial) = ", Error_Polynomial)

Mean Squared Error (Linear) =  0.4602592505883177

In [272]:
# SVC Regression with "rbf" Kernel
Model_RBF = SVR(kernel = "rbf", C =1, gamma = 0.01)
Model_RBF.fit(X_train, Y_train)
Y_Pred_RBF = Model_RBF.predict(X_test)
    
Error_RBF = mean_squared_error(Y_test, Y_Pred_RBF)
print("Mean Squared Error (RBF) = ", Error_RBF)

Mean Squared Error (Linear) =  0.26449921132586146

In [275]:
print("Mean Squared Error              = ", Error)
print("Mean Squared Error (Linear)     = ", Error_Lin)
print("Mean Squared Error (Polynomial) = ", Error_Polynomial)
print("Mean Squared Error (RBF)        = ", Error_RBF)

Mean Squared Error              =  0.34800643643616763
Mean Squared Error (Linear)     =  0.27125614105684565
Mean Squared Error (Polynomial) =  0.4602592505883177
Mean Squared Error (RBF)        =  0.26449921132586146